@mixin weatherCard {
    width: 300px;
    height: 400px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    margin:50px 0px 0px 50px;
    border-radius:10px ;
    color: white;

}

.main{
    width: 100vw;
    height: 90vh;
    section{
        width: 100vw;
        display:inline-flex;
        overflow-x: scroll;
        padding-bottom: 50px;
        .today-weather{
            display: block;
            width: 400px;
            height: 80%;
            @include weatherCard();
            img{
                margin-top: 50px;
                
            }
            h1{
                margin: 0;
                font-size: 60px;
            }
        }
        .other-weather-info{
            width: 400pt;
            text-align: left;
            margin:10% 0% 0% 10%;
        }
    }

}

@media(max-width:768px){
    .main{
        .section{
            .today-weather{
                width: 200px;
            }
            .other-weather-info{
                width: 200px;
            }
        }
    }
}